In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
mpg = sns.load_dataset('mpg')

In [3]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [4]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [5]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null object
name            398 non-null object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [7]:
mpg.describe(exclude = 'number')

       origin        name
count     398         398
unique      3         305
top       usa  ford pinto
freq      249           6

# Soal 1

In [8]:
# name = mpg['name']
# mpg['name']
mpg.isna().sum().rename('Null Value Count')
# mpg.filter_count()

# name.k

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
Name: Null Value Count, dtype: int64

In [9]:
# Cara 2 Cornel
# fungsi mpg.columns = untuk mengindeks semua nama column
# fungsi isna() = utk menentukan true/false
# nan = {}
# for i in mpg.columns:
#     na[i] = sum(mpg[i].isna())
# pd.Series(nan)

# Soal 2

In [10]:
mpg1 = mpg[mpg['horsepower'].isnull()]
mpg1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [11]:
mean1 = mpg.groupby('origin')['horsepower'].transform('mean').round()
mean1

0      119.0
1      119.0
2      119.0
3      119.0
4      119.0
       ...
393    119.0
394     81.0
395    119.0
396    119.0
397    119.0
Name: horsepower, Length: 398, dtype: float64

In [12]:
#Isi NaN dengan mean horsepower berdasarkan origin nya di round
mpg['horsepower'].fillna(mean1, inplace = True)
mpg.iloc[[32,126,330,336,354,374]]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,119.0,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,119.0,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,81.0,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,119.0,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,81.0,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,119.0,3035,20.5,82,usa,amc concord dl

# Soal 3

In [13]:
mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [14]:
# If the horsepower is lower and equal to 105, then it is lower. if it is higher than 105 then it is upper
# cara cornel
def add_horse_origin(x):
    if x['horsepower'] <= 105:
        return 'lower {}'.format(x['origin'])
    else:
        return 'upper {}'.format(x['origin'])

In [15]:
mpg['horse_origin'] = mpg[['horsepower','origin']].apply(add_horse_origin, axis= 1)

In [16]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,lower usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,lower usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,lower usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,lower usa

In [17]:
mpg['horse_origin'].value_counts()

lower usa       125
upper usa       124
lower japan      73
lower europe     60
upper europe     10
upper japan       6
Name: horse_origin, dtype: int64

# Soal 4

In [18]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa

In [19]:
# Disini dibuat aggregate dr statistik dasar yang telah digroupby
#berdasrkan origin
mpg_origin = mpg.groupby('origin').agg(['mean','std','sum','count','min','max'])
mpg_origin['horsepower'].reset_index()

   origin        mean        std      sum  count   min    max
0  europe   80.571429  19.863718   5640.0     70  46.0  133.0
1   japan   79.835443  17.819199   6307.0     79  52.0  132.0
2     usa  119.048193  39.574726  29643.0    249  52.0  230.0

In [20]:
# Disini dibuat merge event utk mpg dan aggregate khusus origin saja
group_agg = mpg_origin['horsepower'].copy()
pd.merge(mpg, group_agg.reset_index(), on = 'origin')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin,mean,std,sum,count,min,max
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa,119.048193,39.574726,29643.0,249,52.0,230.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,34.5,4,100.0,81.0,2320,15.8,81,europe,renault 18i,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0
394,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0
395,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0
396,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0
397,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe,80.571429,19.863718,5640.0,70,46.0,133.0

In [21]:
mpg_origin

              mpg                                     cylinders            \
             mean       std     sum count   min   max      mean       std
origin
europe  27.891429  6.723930  1952.4    70  16.2  44.3  4.157143  0.500310
japan   30.450633  6.090048  2405.6    79  18.0  46.6  4.101266  0.590414
usa     20.083534  6.402892  5000.8   249   9.0  39.0  6.248996  1.661425

                    ... acceleration                   model_year            \
         sum count  ...          sum count   min   max       mean       std
origin              ...
europe   291    70  ...       1175.1    70  12.2  24.8  75.814286  3.469506
japan    324    79  ...       1277.6    79  11.4  21.0  77.443038  3.650595
usa     1556   249  ...       3743.4   249   8.0  22.2  75.610442  3.677094


          sum count min max
origin
europe   5307    70  70  82
japan    6118    79  70  82
usa     18827   249  70  82

[3 rows x 42 columns]

In [22]:
['{}_origin_{}'.format('mpg', stat)for stat in group_agg.columns]

['mpg_origin_mean',
 'mpg_origin_std',
 'mpg_origin_sum',
 'mpg_origin_count',
 'mpg_origin_min',
 'mpg_origin_max']

In [23]:
group_agg = mpg_origin['mpg']
group_agg.columns

Index(['mean', 'std', 'sum', 'count', 'min', 'max'], dtype='object')

In [24]:
group_agg.columns = ['{}_origin_{}'.format('mpg',stat) for stat in group_agg.columns]
group_agg.columns

Index(['mpg_origin_mean', 'mpg_origin_std', 'mpg_origin_sum',
       'mpg_origin_count', 'mpg_origin_min', 'mpg_origin_max'],
      dtype='object')

In [25]:
group_agg

,mpg_origin_mean,mpg_origin_std,mpg_origin_sum,mpg_origin_count,mpg_origin_min,mpg_origin_max
origin,,,,,,
europe,27.891429,6.723930,1952.4,70,16.2,44.3
japan,30.450633,6.090048,2405.6,79,18.0,46.6
usa,20.083534,6.402892,5000.8,249,9.0,39.0

In [1]:
# for i in mpg.select_dtypes('number').columns:
#     group_agg = mpg_origin[i]
#     group_agg.columns = ['{}_origin_{}'.format(i, stat) for stat in group_agg.columns]
#     mpg = pd.merge(mpg, group_agg.reset_index(), on = 'origin')

In [29]:
mpg.select_dtypes('number').columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'mpg_origin_mean_x', 'mpg_origin_std_x',
       'mpg_origin_sum_x', 'mpg_origin_count_x', 'mpg_origin_min_x',
       'mpg_origin_max_x', 'cylinders_origin_mean_x', 'cylinders_origin_std_x',
       'cylinders_origin_sum_x', 'cylinders_origin_count_x',
       'cylinders_origin_min_x', 'cylinders_origin_max_x',
       'displacement_origin_mean_x', 'displacement_origin_std_x',
       'displacement_origin_sum_x', 'displacement_origin_count_x',
       'displacement_origin_min_x', 'displacement_origin_max_x',
       'horsepower_origin_mean_x', 'horsepower_origin_std_x',
       'horsepower_origin_sum_x', 'horsepower_origin_count_x',
       'horsepower_origin_min_x', 'horsepower_origin_max_x',
       'weight_origin_mean_x', 'weight_origin_std_x', 'weight_origin_sum_x',
       'weight_origin_count_x', 'weight_origin_min_x', 'weight_origin_max_x',
       'acceleration_origin_mean_x', 'acceleration_origin_std_x',
       'acceleration_origin_sum_x', 'acceleration_origin_count_x',
       'acceleration_origin_min_x', 'acceleration_origin_max_x',
       'model_year_origin_mean_x', 'model_year_origin_std_x',
       'model_year_origin_sum_x', 'model_year_origin_count_x',
       'model_year_origin_min_x', 'model_year_origin_max_x',
       'mpg_origin_mean_y', 'mpg_origin_std_y', 'mpg_origin_sum_y',
       'mpg_origin_count_y', 'mpg_origin_min_y', 'mpg_origin_max_y',
       'cylinders_origin_mean_y', 'cylinders_origin_std_y',
       'cylinders_origin_sum_y', 'cylinders_origin_count_y',
       'cylinders_origin_min_y', 'cylinders_origin_max_y',
       'displacement_origin_mean_y', 'displacement_origin_std_y',
       'displacement_origin_sum_y', 'displacement_origin_count_y',
       'displacement_origin_min_y', 'displacement_origin_max_y',
       'horsepower_origin_mean_y', 'horsepower_origin_std_y',
       'horsepower_origin_sum_y', 'horsepower_origin_count_y',
       'horsepower_origin_min_y', 'horsepower_origin_max_y',
       'weight_origin_mean_y', 'weight_origin_std_y', 'weight_origin_sum_y',
       'weight_origin_count_y', 'weight_origin_min_y', 'weight_origin_max_y',
       'acceleration_origin_mean_y', 'acceleration_origin_std_y',
       'acceleration_origin_sum_y', 'acceleration_origin_count_y',
       'acceleration_origin_min_y', 'acceleration_origin_max_y',
       'model_year_origin_mean_y', 'model_year_origin_std_y',
       'model_year_origin_sum_y', 'model_year_origin_count_y',
       'model_year_origin_min_y', 'model_year_origin_max_y'],
      dtype='object')

In [30]:
pd.set_option('display.max_columns', None)

In [31]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horse_origin,mpg_origin_mean_x,mpg_origin_std_x,mpg_origin_sum_x,mpg_origin_count_x,mpg_origin_min_x,mpg_origin_max_x,cylinders_origin_mean_x,cylinders_origin_std_x,cylinders_origin_sum_x,cylinders_origin_count_x,cylinders_origin_min_x,cylinders_origin_max_x,displacement_origin_mean_x,displacement_origin_std_x,displacement_origin_sum_x,displacement_origin_count_x,displacement_origin_min_x,displacement_origin_max_x,horsepower_origin_mean_x,horsepower_origin_std_x,horsepower_origin_sum_x,horsepower_origin_count_x,horsepower_origin_min_x,horsepower_origin_max_x,weight_origin_mean_x,weight_origin_std_x,weight_origin_sum_x,weight_origin_count_x,weight_origin_min_x,weight_origin_max_x,acceleration_origin_mean_x,acceleration_origin_std_x,acceleration_origin_sum_x,acceleration_origin_count_x,acceleration_origin_min_x,acceleration_origin_max_x,model_year_origin_mean_x,model_year_origin_std_x,model_year_origin_sum_x,model_year_origin_count_x,model_year_origin_min_x,model_year_origin_max_x,mpg_origin_mean_y,mpg_origin_std_y,mpg_origin_sum_y,mpg_origin_count_y,mpg_origin_min_y,mpg_origin_max_y,cylinders_origin_mean_y,cylinders_origin_std_y,cylinders_origin_sum_y,cylinders_origin_count_y,cylinders_origin_min_y,cylinders_origin_max_y,displacement_origin_mean_y,displacement_origin_std_y,displacement_origin_sum_y,displacement_origin_count_y,displacement_origin_min_y,displacement_origin_max_y,horsepower_origin_mean_y,horsepower_origin_std_y,horsepower_origin_sum_y,horsepower_origin_count_y,horsepower_origin_min_y,horsepower_origin_max_y,weight_origin_mean_y,weight_origin_std_y,weight_origin_sum_y,weight_origin_count_y,weight_origin_min_y,weight_origin_max_y,acceleration_origin_mean_y,acceleration_origin_std_y,acceleration_origin_sum_y,acceleration_origin_count_y,acceleration_origin_min_y,acceleration_origin_max_y,model_year_origin_mean_y,model_year_origin_std_y,model_year_origin_sum_y,model_year_origin_count_y,model_year_origin_min_y,model_year_origin_max_y
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,upper usa,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82,20.083534,6.402892,5000.8,249,9.0,39.0,6.248996,1.661425,1556,249,4,8,245.901606,98.501839,61229.5,249,85.0,455.0,119.048193,39.574726,29643.0,249,52.0,230.0,3361.931727,794.792506,837121,249,1800,5140,15.033735,2.751112,3743.4,249,8.0,22.2,75.610442,3.677094,18827,249,70,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,34.5,4,100.0,81.0,2320,15.8,81,europe,renault 18i,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82
394,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82
395,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82
396,36.0,4,105.0,74.0,1980,15.3,82,europe,volkswagen rabbit l,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82
397,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,lower europe,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82,27.891429,6.723930,1952.4,70,16.2,44.3,4.157143,0.500310,291,70,4,6,109.142857,22.582079,7640.0,70,68.0,183.0,80.571429,19.863718,5640.0,70,46.0,133.0,2423.300000,490.043191,169631,70,1825,3820,16.787143,3.045687,1175.1,70,12.2,24.8,75.814286,3.469506,5307,70,70,82