In [3]:
import numpy as np
import pandas as pd

## Soal 1

In [11]:
import string
srr = []
str = list(string.ascii_lowercase)
        
for i in range(0,26):
    srr.append(i)
pd.Series(data=srr,index=str)

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

# Or

In [25]:
import string
srr = {}
k = 0 
str = list(string.ascii_lowercase)
for j in str:
    srr[j] = k
    k += 1
pd.Series(srr)

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

## Or way 2

In [4]:
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
pd.Series(mydict)

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

### Soal 2

In [4]:
d1 = {'a' : 100, 'b' : 200, 'c' : 300, 'd':400, 'e' :800}
pd.Series(d1)

a    100
b    200
c    300
d    400
e    800
dtype: int64

### Soal 3

In [6]:
np.random.seed(101)
num_series = pd.Series(np.random.randint(1,5,100))
num_series

0     4
1     4
2     2
3     3
4     4
     ..
95    4
96    1
97    3
98    3
99    3
Length: 100, dtype: int32

In [7]:
ser = []
for i in num_series:
    if i < 4 :
        i = 'Other'
        ser.append(i)
    else:
        ser.append(i)
        
sur = np.arange(0,100)
lur = pd.Series(data=ser,index=sur)
lur

0         4
1         4
2     Other
3     Other
4         4
      ...
95        4
96    Other
97    Other
98    Other
99    Other
Length: 100, dtype: object

In [10]:
lur.isin(np.array([4]))

0      True
1      True
2     False
3     False
4      True
      ...
95     True
96    False
97    False
98    False
99    False
Length: 100, dtype: bool